.pag {
  display: flex;
  gap: -30px;
  align-items: center;
}
.pag__line {
  height: 10px;
  width: 150px;
  background-color: grey;
}
.pag-element {
  border-radius: 50%;
  display: flex;
  text-align: center;
  font-size: xx-large;
  height: 100px;
  width: 100px;
  align-items: center;
  justify-content: center;
}

.pag__completed {
  background-color: #b9d152;
  color: white;
}
.pag__current {
  background-color: #a05199;
  color: white;
}
.pag__incompleted {
  background-color: #cdcdcd;

  color: black;
}
